<h1>Lista de productos agregados</h1>
<table>
  <thead>
    <tr>

      <td>Nombre</td>
      <td>Descripcion</td>
      <td>Categoria</td>
      <td>Precio</td>
      <td>Stock</td>




    </tr>

  </thead>


  <tbody>
    {{#each productosCargados}}
    <tr>
      <td>{{this.title}}</td>
      <td>{{this.description}}</td>
      <td>{{this.categoria}}</td>
      <td>{{this.price}}</td>
      <td>{{this.stock}}</td>

    </tr>
    {{/each}}

  </tbody>
</table>